.project
/.project
.idea
/.idea
.c9/
**/**/target/
**/target/

/.settings/
/.classpath
*.launch
protocol/src/main/gen-java/
api/src/main/resources/encryptkey.yml
*.sublime-workspace

*.class
*.iml
node_modules/

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# dependencies
**/**/node_modules
**/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db